.tic{
  margin: 5em auto;
}

button{
  border: 0;
  height: 100px;
  width: 100px;
  background-color: white;
  font-size: 50px;
}


.left{
  border-right: 5px solid black;
}


.top{
  border-top: 5px solid black;
}

.bottom{
  border-bottom: 2px solid black;
}

.points{
  border: 1px solid black;
  max-width:300px;
  margin: auto;
}

header{
  margin: 30px 0 0;
  display: block;
  text-align: center;
}
