table{
  margin: 5em auto;
}

button{
  border: 0;
  height: 100px;
  width: 100px;
  background-color: white;
  font-size: 50px;
}


.left{
  border-right: 5px solid black;
}


.top{
  border-top: 5px solid black;
}
